<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


  <servlet>
    <servlet-name>requestFactory</servlet-name>
    <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>requestFactory</servlet-name>
    <url-pattern>/gwtRequest</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteExpiredJobs</servlet-name>
    <servlet-class>com.clouway.jobex.server.job.ExpiredJobsRemover</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>deleteExpiredJobs</servlet-name>
    <url-pattern>/deleteExpiredJobs</url-pattern>
  </servlet-mapping>

  <!--<filter>-->
    <!--<filter-name>guiceFilter</filter-name>-->
    <!--<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>-->
  <!--</filter>-->

  <!--<filter-mapping>-->
    <!--<filter-name>guiceFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->


  <!--<listener>-->
    <!--<listener-class>com.clouway.jobex.server.GuiceServletConfig</listener-class>-->
  <!--</listener>-->

  <!--<welcome-file-list>-->
    <!--<welcome-file>http://jobex123.appspot.com/jobex.html#JobSearchPlace:jobSearch</welcome-file>-->
  <!--</welcome-file-list>-->
</web-app>
